@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Regular-webfont'), url('../public/fonts/Roboto-Regular-webfont.woff') format('woff');
}

:root {
  --font-main: 'Roboto-Regular';

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1.25rem;

  --spacer: 0.5rem;
  --spacer-l: 1rem;

  --border-radius-m: 0.75rem;

  --color-primary-brand: #058C42;
  --color-grey: #999999;
  --color-black: #000;
  --color-white: #FFFFFF;
  --color-error: #8B0000;

  --color-background: var(--white);
  --color-text-primary: var(--color-black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--color-text-primary);
  background: var(--color-background);
}

main {
  padding: var(--spacer-l);
}

h1,
h2,
span,
a,
p {
  font-family: var(--font-main);
  padding: var(--spacer) 0;
}

h1 {
  font-size: var(--font-size-m);
}

h2 {
  font-size: var(--font-size-s);
}

span,
p {
  font-size: var(--font-size-xs);
}

.error {
  color: var(--color-error);
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
}

form button,
form input,
form label {
  width: 100%;
}

form label,
form label span {
  padding-bottom: var(--spacer);
}

form button {
  margin-top: var(--spacer-l);
}

button {
  min-width: 100px;
  padding: var(--spacer);
  background: var(--color-primary-brand);
  outline: none;
  border: 1px solid var(--color-primary-brand);
  border-radius: var(--border-radius-m);
  color: var(--color-white);
  transition: 0.1s color ease-in-out, 0.1s background-color ease-in-out;
  cursor: pointer;
}

button:hover {
  background: transparent;
  color: var(--color-primary-brand);
}

label span {
  display: inline-block;
  padding-bottom: var(--spacer);
}

input {
  padding: var(--spacer);
  outline: none;
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius-m);
}